/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.grid-carousel {
    width: 100%;
    overflow: hidden;
}

.grid-carousel > .carousel-item {
    display: grid;
    grid-auto-columns: 25%;
    grid-auto-flow: column;
}