<footer class="p-2 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <a href="#" class="flex items-center sm:mb-0">
        <img src="../../../assets/subdevs-logo.png" class="h-20 " alt="SubDev's Logo" />
    </a>
    <span class="text-sm text-orange-500 sm:text-center dark:text-gray-400">© 2023 SubDev's. Todos os direitos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-orange-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">Sobre</a>
        </li>
        <li>
            <a href="#" class="hover:underline">Contato</a>
        </li>
    </ul>
</footer>