<nav class="bg-orange-500 dark:bg-gray-700">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <div class="max-w-screen-xl px-4 py-3 mx-auto md:px-6">
            <div class="flex items-center">
                <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium" *ngFor="let filter of filters">
                    <li>
                        <a href="#" class="text-white dark:text-white hover:underline" aria-current="page">{{ filter.name | titlecase }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>