<div class="menu-filters">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-9">
                <ul class="sub-menu-filters list-group list-group-horizontal-md d-flex justify-content-center">
                    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-secondary mb-2" *ngFor="let filter of filters">
                        <a href="" class="menu-link"><span class="text">{{ filter.name | titlecase }}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>